<div class = "container">
  <div class="">
    <p><%=  @meeting.title %></p>
    <p><%=  @meeting.user.name %></p>
    <p><%=  @meeting.company.name %></p>
    <p><%=  @meeting.meeting_place %></p>
    <p><%=  @meeting.body %></p>
  </div>

</div>
