
  <%= form_for(@company) do |f| %>
    <% if @company.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

        <ul>
        <% @company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="actions">
      <!-- app/views/meetings/new.html.etb -->

    <div class="form-group">
      <label for="name">name</label>
      <%= f.text_field :name, placeholder: "会社名",class: 'form-control'%>
    </div>

    <div class="form-group">
      <label for="sales_rep">sales_rep</label>
      <%= f.text_field :sales_rep, placeholder: 'title',class: 'form-control'%>
    </div>

    <div class="form-group">
      <label for="address">address</label>
      <%= f.text_field :address, placeholder: 'title',class: 'form-control'%>
    </div>

    <div class="form-group">
      <label for="phone_number">電話番号</label>
      <%= f.text_field :phone_number, placeholder: '090-1234-5678',class: 'form-control'%>
    </div>

    <div class="form-group">
      <label for="email">e-mail</label>
      <%= f.text_field :email, placeholder: 'sample@gmail.com',class: 'form-control'%>
    </div>

  <!--
       name: "",
   sales_rep: "",
   address: "",
   phone_number: "",
   email: "",
   -->    <%= f.submit %>
    </div>
  <% end %>
