<!-- <p id="notice"><%= notice %></p>

<h1>Listing Companies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
 -->

<header id="header" class="border-b d-flex justify-content-around align-items-center">
  <h1 id="title">Meet the Meat</h1>

 <div class="align-items-center d-flex">
    <%= form_tag(meetings_search_path, method: :get) do %>
      <div class="d-flex flex-row">
        <input type="text" name="keyword" class="form-control mr-2">
        <input type="submit" class="btn btn-sm btn-primary">
      </div>
    <% end %>
 </div>

  <%= button_to "新規作成", {controller: 'meetings', action: 'new'}, {method: :get, class: "btn btn-primary" } %>

</header>

<div class="image-container d-flex flex-row">
  <%= image_tag "ushi.jpg", class: "back-image" %>
  <%= image_tag "tori.jpg", class: "back-image" %>
  <%= image_tag "buta.jpg", class: "back-image" %>
</div>


<div class="d-flex flex-column">

  <div class="d-flex flex-row justify-content-around">
    <div class="col-4 mt-3 text-center">
      <%= link_to "Companies" , companies_path, class: "btn btn-lg btn-outline-primary" %>
    </div>
    <div class="col-4 mt-3 text-center">
      <a href="https://google.com" class="btn btn-lg btn-outline-primary">Meeting Place</a>
    </div>
    <div class="col-4 mt-3 text-center">
      <a href="https://google.com" class="btn btn-lg btn-outline-primary">Comments</a>
    </div>
  </div>

   <div class="d-flex flex-column align-items-center align-items-center mt-4 ">
    <%= link_to "Recent Messages", meetings_path, class: "recent-message m-3" %>
    <% Company.all.each do |company| %>
      <div class="content-item m-3 d-flex flex-row justify-content-center align-items-center">
        <%= link_to company_path(company) do %>
          <p class="ml-2"><%=  company.name %></p>
        <% end %>
        <p class="ml-3"><%=  company.address %></p>
        <p class="ml-3"><%=  company.phone_number %></p>
        <p class="ml-3"><%=  company.email %></p>

      </div>
    <% end %>
  </div>

</div>


<footer>

</footer>
